.footer {
    background-color: rgb(252, 242, 199);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 25px;

    p {
        margin: 0 10px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

}